.about-me {
    background-color: var(--bgc-color1);
    display: flex;
    justify-content: space-around;
}

.about-photo {
    flex-basis: 30%;
}

.about-info {
    flex-basis: 40%;
}

.about-info  h2 {
    color: var(--font-color1);
    font-size: 2.5rem;
    font-weight: 400;
}


.about-info  h2 span {
color: var(--main-color1);
font-size: 4rem;
font-weight: 800;
}
.about-info  h4 {
    color: var(--font-color1);
    font-size: 2rem;
    font-weight: 400;
    margin: -8px;
}


.about-info  h4 span {
color: var(--main-color1);
font-size: 4rem;
font-weight: 800;
}

.about-info  p {
    color: var(--font-color1);
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 26px;
margin-bottom: 50px;
}


.about-info .option {
    display: flex;
}

.about-info .option p {
height: 40px;
margin-right: 50px;
font-size: 20px;
user-select: none;
cursor: pointer;
position: relative;
}

.about-info .option p.active-link {
    color: var(--main-color1);
}

.about-info .option p.active-link:before {
    content: "";
    position: absolute;
    background-color: var(--main-color1);
    height: 2px;
    width: 50px;
    bottom: 8px;
    left: 1px;
    transition: 0.5s;
}

.about-info .option p.active-link:hover::before {
    width: 100%;
}

.about-info .tab-info {
    color: var(--font-color1);
    display: none;
    margin-top: -40px;
    line-height: 24px;
}

.about-info .tab-info.active-info {
    display: block;
}


.about-photo {
    display: flex;
    justify-content:center;
    align-items: center;
}

.about-photo .photo-container {

    background: linear-gradient(0deg , #e91e6382 , transparent);
}

/* .about-photo .photo-container:hover {
    animation: rotate 0.8s infinite linear;

} */

@keyframes rotate {
    0% {
        background: linear-gradient(0deg , var(--main-color1) , transparent);
    }
    12.5% {
        background: linear-gradient(45deg , var(--main-color1) , transparent);
    }
    25% {
        background: linear-gradient(90deg , var(--main-color1) , transparent);
    }
    37.5% {
        background: linear-gradient(135deg , var(--main-color1) , transparent);
    }
    50% {
        background: linear-gradient(180deg , var(--main-color1) , transparent);
    }
    62.5% {
        background: linear-gradient(225deg , var(--main-color1) , transparent);
    }
    75% {
        background: linear-gradient(270deg , var(--main-color1) , transparent);
    }
    87.5% {
        background: linear-gradient(315deg , var(--main-color1) , transparent);
    }
    100% {
        background: linear-gradient(360deg , var(--main-color1) , transparent);
    }
}


.about-photo .photo-container img {
    width: 400px;
    margin-bottom: -4px;
}

#education ul {
    list-style: none;
}
#education ul li h4 {
    font-size: 36px;
    color: var(--main-color1);
    font-weight: bold;
}