.home {
    background-color: var(--bgc-color1);
    display: flex;
    position: relative;
    flex-direction: column;
}

.sidebar {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;

}


.sidebar .social-midea {
color: var(--font-color1);
width: 100%;
height: fit-content;
padding-left: 20%;
list-style: none;
}

.sidebar .social-midea li {
    margin-bottom: 20px;
width: 75px;
text-align: center;
    
}
.sidebar .social-midea li i {
    font-size: 2.3rem;
    cursor: pointer;
    transition: 0.55s;
}


.sidebar .social-midea li:first-child i{
color: #007ab9;
}
.sidebar .social-midea li:nth-child(2) i{
color: #3b5998;
}
.sidebar .social-midea li:nth-child(3) i{
color: #cc3972;
}
.sidebar .social-midea li:nth-child(4) i{
color: red;
}
.sidebar .social-midea li:nth-child(5) i{
color: #38a8e0;
}
.sidebar .social-midea li:nth-child(6) i{
color: #33bcfd;
}
.sidebar .social-midea li:last-child i{
color: seagreen;
}
.sidebar .social-midea li i:hover {
    
    transform: scale(1.3);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.header .icon img {
    width: 100px;
    border-radius: 50%;
}

.header .link-list {

}

.header .link-list ul {
    display: flex;
    list-style: none;


}

.header .link-list ul li {
    margin-right: 50px;
    font-size: 18px;
}

.header .link-list ul li a {
    text-decoration: none;
    color: var(--font-color1);
    letter-spacing: 1px;
    transition: 0.3s;
}



.header .link-list ul li a:hover {
    color: var(--main-color1);

}


.information {
    color: var(--font-color1);
   
}
h4 {
    color: var(--main-color1);
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight : normal;
    margin-top: 100px;
    padding-left: 3px;

}

h1 {
    font-size: 3.5rem;
    margin-top: -65px;
}

h1 span {
    font-size: 8rem;
    color: var(--main-color1);
}

h3 {
font-size: 1.6rem;
font-weight: normal;
}

h3 span {
    
  color: var(--main-color1);
  font-size: 2.3rem;
  font-weight: bold;
}

p {
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.buttons {
margin-top: 180px;
}

.buttons a {
    border: none;
    outline: none;
    padding: 15px 50px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: var(--main-color1);
    border: 2px solid  var(--main-color1) ;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--font-color1);
    text-decoration: none;
    transition: 0.3s;
}


.buttons a:hover {
    background-color: transparent;
}


.your-photo {
    position: absolute;
    bottom: 0;
    right: 10%;

}

.your-photo img {
    width: 420px;
}


.link-list ul li i {
    color: var(--font-color1);
    font-size: 20px;
    cursor: pointer;
}

.bars {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

.moon-bars {
    display: flex;
    align-items: center;
}
.moon ,
.sun{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    padding: 15px;
list-style-type: none;
}
/* ! ................ */
@media screen and (min-width : 990px) and (max-width :1536px) {
    .bars {
        display: none;
    }
  
}

@media screen and (min-width : 240px) and (max-width :989px) {

.header .link-list {
    display: none;
}
   
}
/* ! ................ */

@media screen and (min-width : 1280px) and (max-width : 1536px) {
    
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {

}

@media screen and (min-width : 990px) and (max-width : 1023px) {

}

@media screen and (min-width : 769px) and (max-width : 989px) {
   
 
}

@media screen and (min-width : 640px) and (max-width : 768px) {
    .content {
        flex-direction: column;
    }
    .sidebar .social-midea {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .buttons {
        width: 90%;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .buttons a {
        width: 100%;
    }

    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .buttons a {
        padding: 19px 120px;
        margin-bottom: 14px;

    }
}

@media screen and (min-width : 568px) and (max-width :639px) {
 
  
    .content {
        flex-direction: column;
    }
    .sidebar .social-midea {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .buttons {
        width: 90%;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .buttons a {
        padding: 19px 120px;
        margin-bottom: 14px;

    }
}

@media screen and (min-width : 480px) and (max-width :567px) {
    .content {
        flex-direction: column;
    }
    .sidebar .social-midea {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .buttons {
        width: 90%;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } .buttons a {
        padding: 19px 120px;
        margin-bottom: 14px;

    }
}

@media screen and (min-width : 320px) and (max-width :479px) {
    .content {
        flex-direction: column;
    }
    .sidebar .social-midea {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .buttons {
        width: 90%;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } .buttons a {
        padding: 19px 120px;
        margin-bottom: 14px;

    }
}

@media screen and (min-width : 240px) and (max-width :319px) {
    .content {
        flex-direction: column;
    }
    .sidebar .social-midea {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .buttons {
        width: 90%;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } .buttons a {
        padding: 19px 120px;
        margin-bottom: 14px;

    }
}

