.service {
    background-color: var(--bgc-color1);
}

.service > h2 {
    color: var(--font-color1);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.service > h2 span {
color: var(--main-color1);
font-size: 4rem;
font-weight: 800;
}


.service .list {

    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}


.service .list div {

    background: var(--sp-color1);
    width: calc(80% / 3);
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
    position: relative;
}

.service .list div:hover {
/* background: var(--main-color1); */
transform: translateY(-10px);
transform: scale(1.1);
}

/*
.service .list div:hover .hi{
    color: #262626;
}

.service .list div:hover .a {
    color: #262626;
}
.service .list div:hover .hello {
    color: #333;
} */
.service .list div i {
    color: var(--main-color1);
    font-size: 2.5rem;
    padding: 20px;
}

.service .list div h2 {
    padding: 20px;
    font-size: 2rem;
    /* letter-spacing: 1px; */
    font-weight: 600;
    color: var(--main-color1);

}


.service .list div ul {
    color: var(--font-color1);
    font-size: 18px;
    margin-left: 40px;
    line-height: 26px;
}
.service .list div p {
    color: var(--font-color1);
    font-size: 18px;
padding: 0 20px;
    line-height: 26px;
}

.service .list div a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--main-color1);
    text-decoration: none;
}

.service .list div a:hover {
    text-decoration: underline;
}

@media screen and (min-width : 990px) and (max-width :1536px) {
    .bars {
        display: none;
    }
  
}

@media screen and (min-width : 240px) and (max-width :989px) {

.header .link-list {
    display: none;
}
   
}
/* ! ................ */

@media screen and (min-width : 1280px) and (max-width : 1536px) {
    
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {

}

@media screen and (min-width : 990px) and (max-width : 1023px) {

}

@media screen and (min-width : 769px) and (max-width : 989px) {
   
 
}

@media screen and (min-width : 640px) and (max-width : 768px) {
    .service .list {
        flex-direction: column;
    }
   
    .service .list div {
        width: 90%;
        margin: 20px auto; }
}

@media screen and (min-width : 568px) and (max-width :639px) {
 
    .service .list {
        flex-direction: column;
    }    .service .list div {
        width: 90%;
        margin: 20px auto; }

}

@media screen and (min-width : 480px) and (max-width :567px) {
    .service .list {
        flex-direction: column;
    } .service .list div {
        width: 90%;
        margin: 20px auto; }
}

@media screen and (min-width : 320px) and (max-width :479px) {
    .service .list {
        flex-direction: column;
    } .service .list div {
        width: 90%;
        margin: 20px auto; }
}

@media screen and (min-width : 240px) and (max-width :319px) {
    .service .list {
        flex-direction: column;
    } .service .list div {
        width: 90%;
        margin: 20px auto; }
}

