.work {
    background-color: var(--bgc-color1);
    position: relative;
}

.work h2 {
    color: var(--font-color1);
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    /* text-align: center; */
    padding-top: 40px;
    margin-left: calc(20% / 5);
}

.work h2 span {
    color: var(--main-color1);
    font-size: 4rem;
    font-weight: 600;
}

.work-list {
    display: flex; 
    justify-content: center; 
    margin-top: 50px !important ;
}


.work-list .my-work {
    width: calc(75% / 3);
    height: 480px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 25px;
}
.work-list .my-work img {
width: 100%;
height: 100%;
border-radius: 10px;
transition: transform 0.5s;
}


.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5) , rgb(255 0 79 / 58%));
    /* background-color: red; */
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.work-list .my-work:hover .layer {
    height: 100%;
}
.work-list .my-work:hover img {
    transform: scale(1.2);
}

.layer p {
    width: 300px;
    color:#fdfdfd;
}

.work-list .my-work:hover h2 {
    color: #fdfdfd;
}

.layer a {
    color: var(--main-color1);
    /* font-size: 50px; */
    margin-top: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 50%;
}


.show-more {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

    
    .show-more a {
        border: none;
        outline: none;
        padding: 15px 50px;
        border-radius: 10px;
        margin-right: 10px;
        background-color: transparent;
        border: 2px solid  var(--main-color1) ;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--font-color1);
        text-decoration: none;
        transition: 0.3s;
    }
    
    
    .show-more a:hover {
        background-color: var(--main-color1);
    }
    
    

@media screen and (min-width : 990px) and (max-width :1536px) {
   
  
}

@media screen and (min-width : 240px) and (max-width :989px) {


   
}
/* ! ................ */

@media screen and (min-width : 1280px) and (max-width : 1536px) {
    
}

@media screen and (min-width : 1024px) and (max-width : 1279px) {

}

@media screen and (min-width : 990px) and (max-width : 1023px) {

}

@media screen and (min-width : 769px) and (max-width : 989px) {
   
 
}

@media screen and (min-width : 640px) and (max-width : 768px) {
    .work-list {
        flex-direction: column;
    }
    .work-list .my-work {
        width: calc(90%);
        margin: 10px auto;
    }
}

@media screen and (min-width : 568px) and (max-width :639px) {
    .work-list {
        flex-direction: column;
    } .work-list .my-work {
        width: calc(90%);
        margin: 10px auto;
    }
    
}

@media screen and (min-width : 480px) and (max-width :567px) {
    .work-list {
        flex-direction: column;
    } .work-list .my-work {
        width: calc(90%);
        margin: 10px auto;
    }
}

@media screen and (min-width : 320px) and (max-width :479px) {
    .work-list {
        flex-direction: column;
    } .work-list .my-work {
        width: calc(90%);
        margin: 10px auto;
    }
}

@media screen and (min-width : 240px) and (max-width :319px) {
    .work-list {
        flex-direction: column;
    }
}

